<form action="/signup" method="POST">
    <div class="form-group">
        <input type="email" name="email" placeholder="Insert Email" autofocus>
    </div>
    <div class="form-group">
        <input type="password" name="password" placeholder="Inserte Contrasena" autofocus>
    </div>
    <div class="form-group">
        <button type="submit"> Registrar</button>
    </div>
</form>